// app global css in Stylus form
@font-face {
  font-family: nexa-bold;
  src: url(./font/NexaBold.ttf.woff);
}
@font-face {
  font-family: opensans;
  src: url(./font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: desyrel;
  src: url(./font/desyrel.ttf);
}
.nexa-bold {
  font-family: 'nexa-bold';
}
.desyrel {
  font-family: 'desyrel';
}
.openSans-Regular {
  font-family: 'opensans';
}